* {
    margin: 0px;
    padding: 0px;
}

.name {
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to right bottom, red, green);
    border: 1px solid;
    text-align: center;
    padding-top: 3vh;
}

.name>h1 {
    font-size: 50px;
    color: yellow;
    transition-duration: 2s;
}

.name>h1:hover {
    transform: skew(20deg);
    cursor: pointer;
    color: aqua;
    transition-duration: 2s;
}

.bar {
    width: 400px;
    height: 8vh;
    border: 1px solid;
    border-radius: 20px;
    position: relative;
    margin: 30px 450px;

}

.inner-bar {
    width: 400px;
    height: 8vh;
    border-radius: 20px;
    position: absolute;
    animation: bar-fill 2s ease-out 1 forwards;
}

.inner-bar {
    width: 0%;
    height: 100%;
}

@keyframes bar-fill {
    25% {
        background-color: purple;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: black;
        width: 90%;
    }

}

.graph {
    width: 400px;
    height: 60vh;
    border: 1px solid;
    border-radius: 20px;
    margin: 30px 450px;
}

.one {
    float: left;
    width: 30px;
    height: 200px;
    background-color: aqua;
    margin-left: 40px;
    margin-top: 201px;
}

.two {
    float: left;
    width: 30px;
    height: 150px;
    background-color: aqua;
    margin-left: 40px;
    margin-top: 251px;
}

